*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: grid;
    place-content: center;
    min-height: 100vh;
    width: 100%;
    background-color: rgb(255, 235, 200);
}

h1{
    display: grid;
    place-content: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 40px;
}
button{
    display: grid;
    place-content: center;
    width: 100%;
}
.nav_knopki{
    display: grid;
    place-content: center;
    height: 40px;
    gap: 0.3rem;
    grid-template-columns: repeat(2,500px);
}
.knopka1{
    display: grid;
    height: 40px;
    margin-left: -499px;
    gap: 2rem;
    width: 1000px;
    place-content: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: rgb(111, 169, 255);
    border: none;
}
.knopka2{
    display: grid;
    place-content: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    height: 40px;
    width: 800px;
    background-color: rgb(165, 122, 84);
    border: none;
}
img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
}
.box{
    display: grid;
    place-content: center;
    padding: 3px;
    width: 1600px;
    gap: 0.5rem;
    background-color: white;
    grid-template-columns: repeat(12,170px);
    grid-template-rows: repeat(6,200px);
}
.nine{
    display: grid;
    grid-column: 2/4;
    grid-row: 1/7;
}
.three{
    display: grid;
    grid-column: 4/5;
    grid-row: 1/3;

}
.four{
    display: grid;
    grid-column: 5/6;
    grid-row: 1/3;
}
.one{
    display: grid;
    grid-column: 6/10;
    grid-row: 1/3;

}
.three2{
    display: grid;
    grid-column: 10/12;
    grid-row: 1/3;
}
.five{
    display: grid;
    grid-column: 4/5;
    grid-row: 3/5;
}
.two{
    display: grid;
    grid-column: 2/3;
    grid-row: 2/2;
}
.six{
    display: grid;
    grid-column: 5/6;
    grid-row: 3/5;
}
.four2{
    display: grid;
    grid-column: 6/8;
    grid-row: 3/5;
}
.five2{
    display: grid;
    grid-column: 8/10;
    grid-row: 3/5;
}
.nine2{
    display: grid;
    grid-column: 10/12;
    grid-row: 3/7;
}
.seven{
    display: grid;
    grid-column: 4/5;
    grid-row: 5/7;
}
.four3{
    display: grid;
    grid-column: 5/6;
    grid-row: 5/7;
}
.six2{
    display: grid;
    grid-column: 6/8;
    grid-row: 5/7;
}
.eight{
    display: grid;
    grid-column: 8/10;
    grid-row: 5/7;
}
.foot{
    display: grid;
    place-content: center;
    font-family: 'Times New Roman', Times, serif;
}
